<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Logo</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <button class="btn btn-primary btn-block"
         [routerLink]="['/addpost']">Add Post</button>
    </p>

  </div>
</nav>



<div class="container" style="margin-top: 85px;">

  <div *ngIf="successMessage"
       class="alert alert-success">
    "Succesfully created/deleted"
  </div>

  <div class="container">
    <div class="form-group">
      <input type="text"
             class="form-control input-lg"
             name="search"
             placeholder="Search"
             [(ngModel)]="filter"
      />
    </div>
    <div class="container content" style="margin-top: 20px;" *ngFor="let eachPost of posts |filter:filter">
      <button (click)="deletePost(eachPost._id)"
              class="btn btn-danger pull-right">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button
        class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <p [innerHTML]="eachPost.question"></p>
      <p [innerHTML]= "eachPost.answer"></p>
      <p [innerHTML]="eachPost.tag"></p> <br/>
      Date Posted: {{eachPost.dateCreated}}<br/>

      <br/>
    </div>
  </div>


  </div>



