<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Logo</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <button class="btn btn-primary btn-block"
              [routerLink]="['/addpost']">Add Post</button>
    </p>

  </div>
</nav>

<div class="container" style="margin-top: 85px;">

  <div *ngIf="alertMessage"
       class="alert alert-danger">
    "Failed to create"
  </div>

  <div *ngIf="successMessage"
       class="alert alert-success">
    "Succesfully created/deleted"
  </div>

  <form (ngSubmit) = "createPost()" #f="ngForm">
    <textarea [froalaEditor]
      placeholder="Enter question"
           name="question"
           type="text"
           class="form-control"
           ngModel
           required
              #question="ngModel"></textarea>
    <span class="help-block" *ngIf="!question.valid && question.touched">
      Please Enter Question!
    </span><br/>

    <textarea [froalaEditor]
              placeholder="Enter answer"
           name="answer"
           type="text"
           class="form-control"
           ngModel
           required
              #answer="ngModel"></textarea>
    <span class="help-block" *ngIf="!answer.valid && answer.touched">
      Please enter answer!
    </span><br/>


    <textarea [froalaEditor]
              placeholder="Enter Tags"
              name="tag"
              type="text"
              class="form-control"
              ngModel
              required
              #tag="ngModel"></textarea>
    <span class="help-block" *ngIf="!tag.valid && tag.touched">
      Please enter tags!
    </span>

    <table class="table table-responsive">
      <tbody>
      <tr>
          <td>
            <button class="btn btn-primary btn-block" type="submit" [routerLink]="['/']">Save Draft</button>
          </td>
          <td>
            <button class="btn btn-primary btn-block" type="submit" [disabled] = "!f.valid">Publish</button>
          </td>
          <td>
            <button class="btn btn-primary btn-block" [routerLink]="['/']">Reset</button>
          </td>
          <td>
            <button class="btn btn-primary btn-block" [routerLink]="['/']">Cancel</button>
          </td>
        </tr>

      </tbody>
    </table>
  </form>
</div>
